
<div style='border: 2px solid blue'> 

<h1>My name is <%=@name%> </h1>

  </div>
  <br>
    <div style='border: 10px dashed purple'>
    
    <img src='http://bit.ly/1eze8aE'>
  </div>

  <br> 

  # <form action= "/named-cat" method="post">
  # <input type="text" name="name">
  # <input type="submit" value="Submit Name Here"
  # </form>
